# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: fbec62aec9441f3503e88fa4881cbf25b2319d73ed33e55c05ebf11d211f7e11bb773f64d5d70e760055e05ed9e699738e3a436b2da2fc6fbfe2ff2728c969d5

test:
  secret_key_base: f4139f53a723c0be53b46941201eb021dc61108ce9596b1c5e51bb241548d4638b3db152fc2303aa7ef11f62b2279cfd0fe5b747c053d83e708636ed9b145ab4

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
